<!-- @extends('backend.layouts.master') -->

<!-- @section('title',"@trans('permission.name')" ) --> 
<!-- @section('content_header', "@trans('permission.name')" ) --> 
<!-- @section('content_header_desc', "@trans('permission.header_desc')" ) --> 

<!-- @section('breadcrumb') -->
        
        <li class="active">@trans('permission.name')</li>
<!-- @endsection -->
        
<!-- @section('content') --> 
 
    {! Alert::display() !}
	<div class="box">
		 
        <div class="box-body">
        
        	 
        	   
        	  
        </div>
       
	</div>
   
	 
	 

<!-- @endsection -->